    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>EN CASO DE EMERGENCIA</h2>
                <p>Y bueno mi amor hermoso en caso de que te sientas mal, tirste o lo que sea. Te dejo los contactos de una persona que estará para ti 24/7.</p>
                <p><a href="mailto:andrevill1994@gmail.com">andrevill1994@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="https://wa.me/593996506653" class="btn btn-default btn-lg"><i class="fab fa-whatsapp fa-fw"></i> <span class="WHATSAPP">WHATSAPP DE TU NOVIO</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
